{% extends '/site/squelette.html.twig' %}
{% block title %}
  <title>{{ site.nomSite }}</title>
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="css/bulma.min.css" />
  <link rel="stylesheet" href="css/onepageDefault.css" />
{% endblock %}

{% block header %}
  <header>
    <nav class="navbar" aria-label="main-navigation" role="navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ path('builder') }}"><img src="images/sitelogo.png" alt="Logo" /></a>

          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu is-justify-content-end" id="navMenu">
          {% include 'site/sections/navigation.html.twig' %}
        </div>
      </div>
    </nav>
  </header>
{% endblock %}

{% block main %}
  {% include 'site/sections/hero.html.twig' %}

  {% if site.products is defined %}
    {% include 'site/sections/produits.html.twig' %}
  {% endif %}
  {% if site.faq is defined %}
    {% include 'site/sections/faq.html.twig' %}
  {% endif %}

  {% include 'site/sections/contact.html.twig' %}
{% endblock %}
{% block footer %}
  {% include 'site/sections/footer.html.twig' %}
{% endblock %}

{% block scripts %}
  <script>
    const themeColors = JSON.parse('{{ site.themeColors | json_encode | raw }}')
    document.querySelectorAll('.is-primary').forEach((el) => {
      el.style.backgroundColor = themeColors['tertiary']
    })
    //get is-secondary and set their background-color
    document.querySelectorAll('.is-secondary').forEach((el) => {
      el.style.backgroundColor = themeColors['secondary']
    })
    //get is-secondary and set their background-color
    document.querySelectorAll('h1, h2, h3, h4').forEach((el) => {
      el.style.color = themeColors['primary']
    })
    
    //Clicking .faq-question will toggle the .faq-answer class .show - vanilla js
    
    const faqQuestions = document.querySelectorAll('.faq-question')
    //faqAnswer is the next .faq-answer sibling of the faqQuestion
    
    faqQuestions.forEach((faqQuestion) => {
      faqQuestion.addEventListener('click', () => {
        const arrow = faqQuestion.querySelector('i')
    
        const faqAnswer = faqQuestion.nextElementSibling
        faqAnswer.classList.toggle('show')
        arrow.classList.toggle('fa-caret-up')
        arrow.classList.toggle('fa-caret-down')
      })
    })
    document.addEventListener('DOMContentLoaded', () => {
      //clicking on .navbar-burger toggle the .is-active class on .navbar-menu
      document.querySelector('.navbar-burger').addEventListener('click', () => {
        document.querySelector('#navMenu').classList.toggle('is-active')
        document.querySelector('[data-target="navBurger"]').classList.toggle('is-active')
      })
    })
  </script>
{% endblock %}
