<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
      <title>Document</title>
    {% endblock %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    {% block styles %}

    {% endblock %}
  </head>
  <body>
    {% block header %}
      {# Logo #}
      {# ? Boutons d'administration #}
      {# Navbar #}
    {% endblock %}
    <main>
      {% block main %}
        {# Contenu Hero #}
      {% endblock %}
    </main>
    <footer class="footer">
      {% block footer %}
        {# Footer Contenu #}
        {# ? Bouton déconnexion #}
      {% endblock %}
    </footer>
    {% block scripts %}
      {# ? Scripts de l'app #}
      {# Scripts inline pour le CSS #}
    {% endblock %}
  </body>
</html>
