{% extends 'static/static-base.html.twig' %}

{% block title %}
  OnePageBuilder : Mentions légales
{% endblock %}
{% block body %}
  <main class="static-content">
    <div class="hero is-warning">
      <div class="hero-body container">
        <h1>Mentions légales</h1>
      </div>
    </div>
    <section class="content container is-max-desktop">
      <h2>Infos légales</h2>
      <p>Conception et réalisation www.lacouleurduzebre.com Ce site est édité et développé par la société La couleur du Zèbre, société à responsabilité limitée, au capital de 10 000 €, dont le siège social est sis 3,place des Orphelins / 67000 Strasbourg. Société immatriculée au Registre du Commerce et des Sociétés de Strasbourg / Siret N° 50965258200016 / APE 7021Z / N° TVA intracommunautaire FR11509652582 / N° agrément de formation 42 67 04159 67 – Notre agence est référencée Datadock.</p>

      <h2>Hébergement</h2>
      <p>
        SAS OVH<br />
        2 rue Kellermann<br />
        BP 80157<br />
        59100 Roubaix<br />
        Web : http://www.ovh.com
      </p>
      <h2>Présentation du site</h2>

      <p>Reste en cours d'écriture...</p>
    </section>
  </main>
{% endblock %}
