{% extends 'base.html.twig' %}

{% block body %}
  <div class="container text-center">
    <p>Le fichier a été envoyé !</p>
    <p>
      Voici votre site <i class="fas fa-down"></i>
    </p>
  </div>
  {{ file|raw }}
{% endblock %}
