{% extends 'base.html.twig' %}

{% block body %}
  <div class="has-text-centered my-6">
    <div class="hero is-info container">
      <div class="hero-body">
        <h1 class="title">Connectez-vous pour accéder à votre compte et site web</h1>
      </div>

      <div class="is-justify-content-center is-flex p-6">
        <form action="{{ path('app_login') }}" method="post">
          <div class="field">
            <label class="label has-text-white" for="username">Utilisateur</label>
            <div class="control">
              <input class="input" type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
          </div>
          <div class="field">
            <label class="label has-text-white" for="password">Mot de passe:</label>
            <div class="control">
              <input class="input" type="password" id="password" name="_password" />
            </div>
          </div>
          {% if error %}
            <p class="my-4">Identifiants erronés, veuillez réessayer</p>
          {% endif %}
          {# Protection #}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
          <div class="control">
            <button class="button is-link is-primary" type="submit">Connexion</button>
          </div>
        </form>
        {# If you want to control the URL the user is redirected to on success
                          <input type="hidden" name="_target_path" value="/account"/> #}
      </div>

      <div class="no-account">
        <p>Vous ne possédez pas de compte ?</p>
        <a class="button is-primary my-4" href="{{ path('app_login') }}">Inscrivez vous ici</a>
      </div>
    </div>
  </div>
{% endblock %}
