{% extends 'base.html.twig' %}
{% block body %}
  <div class="container box">
    <h1>Vous avez été deconnecté avec succès !</h1>
  </div>
  <div class="container">
    <a class="button" href="{{ path('builder') }}">Retour à l'accueil</a>
  </div>
{% endblock %}
