@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");
.is-info {
  background-color: #1E91B3 !important;
  color: white;
}

.is-primary {
  background-color: #A2BB0A !important;
  color: white;
}

.is-secondary {
  background-color: #F39200 !important;
  color: white;
}

.is-outlined {
  border-color: #A2BB0A !important;
  color: #A2BB0A !important;
}

.is-warning {
  background-color: #EFF0EB !important;
  color: white !important;
}

.button:hover {
  background-color: #4E4E4E !important;
  color: white !important;
}

h1,
h2,
h3,
h4 {
  color: #1E91B3;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  margin-block: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
  margin-block: 1rem;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  margin-block: .5rem;
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 1.5rem;
  }
}

.navbar-item img {
  max-height: 5rem;
}

.tabs ul {
  border: none;
}

.tabs ul i {
  font-size: 1.5rem;
}

body {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.hero-body {
  padding: 0;
}

.accueil-readmore {
  background: rgba(0, 0, 0, 0.5);
  background-attachment: scroll;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .accueil-readmore {
    background-attachment: fixed;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/assets/images/zoning-maquette.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/zoning-maquette.jpg");
  }
}

.accueil-readmore img {
  height: 100%;
  width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
}

.fonctionnalites-gallery img {
  height: 100%;
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.fonctionnalites-gallery figure:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.site-footer {
  background-color: #4E4E4E;
  padding: 2rem 0;
  margin-top: 2rem;
  color: white;
}

.site-footer img {
  height: 100%;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
}

.site-footer a {
  color: white;
}

.site-footer--mentions a {
  font-weight: bold;
}

.productFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#vue-builder-form .container {
  max-width: clamp(300px, 80%, 800px);
}

#vue-builder-form .column {
  max-width: auto;
}

#vue-builder-form .form-logo--container {
  height: 150px;
  width: 150px;
}

#vue-builder-form .form-logo--container img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.colorPicker-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.colorPicker-color {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.colorPicker-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

/** Menu Responsive **/
@media screen and (max-width: 1024px) {
  .navbar-burger {
    height: 5.25rem;
  }
  #navMenu {
    position: absolute;
    top: 90px;
    width: 100%;
  }
  #navMenu .tabs a {
    border: none;
  }
  #navMenu .tabs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** Onepage styles (Need to be transferred with the folder) **/
html,
body {
  scroll-behavior: smooth;
}

.faq-question {
  cursor: pointer;
}

.faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s cubic-bezier(0, 1, 0, 1), opacity 0.5s;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1), opacity 0.5s;
}

.faq-answer.show {
  opacity: 1;
  max-height: 500px;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.faq-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #D0D1CD;
  margin-top: 0rem;
}

/** contact section**/
.contact-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
/*# sourceMappingURL=app.css.map */