@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");
h1,
h2,
h3,
h4 {
  color: #8A4D76;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  margin-block: 2.5rem;
}

h2 {
  font-size: 3rem;
  margin-block: 2rem;
}

h3 {
  font-size: 2rem;
  margin-block: 1.5rem;
}

.navbar-item img {
  max-height: 5rem;
}

.productFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#vue-builder-form .container {
  max-width: clamp(300px, 50%, 800px);
}

#vue-builder-form .column {
  max-width: auto;
}

#vue-builder-form .form-logo--container {
  height: 150px;
  width: 150px;
}

#vue-builder-form .form-logo--container img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.colorPicker-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.colorPicker-color {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.purple {
  background-color: #8A4D76;
}

.darkBlue {
  background-color: #150050;
}

.pink {
  background-color: #FA7C91;
}

.colorPicker-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

/** Menu Responsive **/
@media screen and (max-width: 1024px) {
  .navbar-burger {
    height: 5.25rem;
  }
  #navMenu {
    position: absolute;
    top: 100px;
    width: 100%;
  }
  #navMenu .tabs a {
    border: none;
  }
  #navMenu .tabs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** Onepage styles (Need to be transferred with the folder) **/
html,
body {
  scroll-behavior: smooth;
}

.faq-question {
  cursor: pointer;
}

.faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s cubic-bezier(0, 1, 0, 1), opacity 0.5s;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1), opacity 0.5s;
}

.faq-answer.show {
  opacity: 1;
  max-height: 500px;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.faq-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #D0D1CD;
  margin-top: 0rem;
}

/** contact section**/
.contact-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
/*# sourceMappingURL=app.css.map */