{% extends './base.html.twig' %}
{% block body %}
  <section class="hero is-dark is-medium is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Voici le formulaire qui vous permettra <br /> de créer votre mini-site en quelques minutes !</h1>
      </div>
    </div>
  </section>

  <div class="container" id="vue-builder-form">
    {# Application Vue ici #}
    <div class="card article p-6 my-6">
      <h2 class="is-bold is-size-3">Informations générales</h2>
      <p>Message Twig</p>
    </div>
  </div>
{% endblock %}
