{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <h2>Félicitations ! Votre site a été créé.</h2>
    <button><a href="/builder/site/{{ url }}">Voir le site</a></button>
    {{ dump(data) }}
  </div>
{% endblock %}
