{% extends './base.html.twig' %}

{% block body %}
  <section class="hero is-dark is-medium is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Voici le formulaire qui vous permettra <br /> de créer votre mini-site en quelques minutes !</h1>
      </div>
    </div>
  </section>

  {# Vue disabled : <div class="container" id="vue-builder-form"> #}
  <div class="container">
    <div class="card article p-6 my-6">
      <h2 class="is-bold is-size-3">Informations générales</h2>
      <p>Message Twig</p>
      {#
      <form class="my-4">
        <div class="field">
          <label class="label">Nom de votre Site</label>
          <div class="control">
            <input class="input" type="text" v-model="nomSite" placeholder="Monsite.com" />
          </div>
        </div>
        <div class="field">
          <label class="label">Petite présentation de votre site</label>
          <div class="control">
            <input class="textarea" type="textarea" placeholder="Ce site sert à ..." />
          </div>
        </div>
        <div class="field">
          <p class="control">
            <button type="submit" class="button is-success">Valider</button>
          </p>
        </div>
      </form>
      #}

      <div class="container">{{ form(siteWebForm) }}</div>
    </div>
  </div>
{% endblock %}
