{% extends './base.html.twig' %}

{% block body %}
  <section class="hero is-warning is-medium is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Voici le formulaire qui vous permettra <br /> de créer votre mini-site en quelques minutes !</h1>
      </div>
    </div>
    {{ phphello }}
  </section>

  <section id="vue-builder-form"></section>
{% endblock %}
