<div class="container">
  <div class="columns">
    <div class="column">
      <p class="is-flex is-align-items-center">
        <i class="fas fa-phone mr-2"></i> <a href="tel:#">01 02 03 04 05 06</a>
      </p>
      <br />
      <i class="fas fa-at mr-1"></i>
      <a href="mailto:#">example@mail.com</a>
    </div>

    <div class="column">
      <div class="reseaux-sociaux">
        <a class="column" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a class="column" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a class="column" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="column">
      <p>Site développé avec l'application OnePageBuilder par la couleur du Zèbre</p>
    </div>
  </div>
</div>
