<section class="hero is-primary is-small py-6">
  <div class="container hero-body">
    <h1 class="is-size-1 has-text-white">{{ site.nomSite }}</h1>
    <p class="is-size-2">{{ site.descriptionSite }}</p>

    <p class="is-flex is-justify-content-center">
      <a href="#contact" class="button is-secondary is-medium my-4">Nous contacter</a>
    </p>
  </div>
</section>
