<div id="navbarMenu" class="navbar-menu">
  <div class="navbar-end">
    <div class="tabs is-right">
      <ul>
        {% if site.products is defined %}
          <li>
            <a href="#produits">Produits</a>
          </li>
        {% endif %}
        {% if site.faq is defined %}
          <li>
            <a href="#faq">FAQ</a>
          </li>
        {% endif %}
        <li class="">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
