<div id="navbarMenu" class="navbar-menu">
  <div class="navbar-end">
    <div class="tabs is-right">
      <ul>
        <li class="">
          <a href="{{ path('builder') }}">Votre lien 1</a>
        </li>
        <li>
          <a href="{{ path('builder_form_js') }}">Votre lien 2</a>
        </li>
        <li>
          <a href="{{ path('app_register') }}">Votre lien 3</a>
        </li>
      </ul>
    </div>
  </div>
</div>
